body { min-width: 520px; }
.column { width: 33.333%; float: left; padding-bottom: 100px; }
.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }

a, a:visited {
    color: #3498db;
}

.portlet-header .title a {
    color: white;
    text-decoration: none;
}

.feed a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
/*
    display: inline-block;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
*/
}
.feed a:visited {
    color: #3498db;
}

.feed td {
    /*border-bottom: 1px solid #cccccc;*/
    padding-bottom: 10px;
    padding-top: 10px;
    vertical-align: top;
}

.feed td.image img {
    margin-right: 5px;
}

.sDashboard-circle-plus-icon {
    display: none;
}
.sDashboardWidgetContent {
    height: inherit;
}
.sDashboardWidgetHeader {
    color: white;
    background-color: #3498db;
    margin: 0;
}
.sDashboard-icon.sDashboard-circle-remove-icon {
    background: none;
}
.sDashboard-icon.sDashboard-circle-remove-icon:before {
    content: "x";
}

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.portlet {
    border: 1px solid #cccccc;
}
.portlet-header {
    background-color: #3498db;
    color: white;
    padding:5px;
    padding-left: 10px;
    margin:0;
    position: relative;
}

.portlet-content {
    font-size: 12px;
}
.portlet-content a {
    font-size: 14px;
}

.portlet-header .close {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 22px;
    cursor: pointer;
}
.portlet-content.highlight {
    background-color: rgb(250, 255, 189);
}
/*.portlet.no-highlight .portlet-content {*/
    /*background-color: inherit;*/
    /*transition: background-color 0.5s ease;*/
    /*-webkit-transition: background-color 0.5s ease;*/
/*}*/
.error {
    color: red;
}

.fb_edge_widget_with_comment {
    position: absolute !important;
    top: 45px;
    right: 10px;
}


.tt-menu {
  margin: 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 5px;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.tt-suggestion .icon {
  float: left;
}
.tt-suggestion .icon img {
  width: 32px;
  height: 32px;
}

.tt-suggestion .title {
  margin-left: 38px;
  margin-top: -5px;
}

.tt-suggestion .url {
  font-size: 12px;
  color: #888;
  margin-left: 38px;
  margin-top: -5px;
}

.tt-suggestion:hover, .tt-suggestion:hover .url {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor, .tt-suggestion.tt-cursor .url  {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.top {
  position: relative;
}
#addFeed {
  position: relative;
  top: 2px;
}

